.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.logoName {
  font-size: 25px;
}
.animate {
  margin-top: 45px;
}
.registerContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 15px;
  border: none;
  width: 100%;
}
.inputTag {
  margin-top: 8px;
  padding: 6px;
  padding-left: 8px;
  border-radius: 5px;
}
.loginText {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.inputTag {
  margin-top: 8px;
  padding: 6px;
  padding-left: 8px;
  border-radius: 5px;
}

.signBtn {
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  border: none;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: rgb(38, 50, 216);
}
.loginContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
}
.formBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 15px;
  border: none;
  width: 100%;
}
a {
  color: rgb(31, 31, 221);
  text-decoration: none;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}
.pageBox {
  display: flex;
  justify-content: space-between;
}
.login:hover {
  opacity: 0.8;
}
.home:hover {
  opacity: 0.8;
}
.checkBox {
  border: 2px solid rgb(30, 30, 211);
  width: 20px;
}
.forget {
  color: #343a40;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.forgetBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
