.img {
  width: 70px;
  height: 60px;
  border-radius: 10px;
}
.dot {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 12px;
  background-color: rgb(19, 240, 103);
  color: rgb(19, 240, 103);
  border-radius: 30px;
}
.Box {
  position: relative;
  background-color: antiquewhite;
}
.activeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.name {
  color: #343a40;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  margin-top: 8px;
}
