.chatRooms {
  padding: 15px;
  width: 25%;
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}
.room {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.chats {
  color: rgb(15, 15, 143);
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
}
.btnBox {
  display: flex;
}
.addIcons {
  padding: 2px;
  font-size: 20px;
  color: rgb(15, 15, 143);
}
.btn {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  background-color: white;
  border-radius: 6px;
  border: 0.1 solid gray;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBox {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.recent {
  color: rgb(15, 15, 143);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 1000;

  width: 100%;
}
.card {
  margin-top: 15px;
}
.active {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.chatContainer {
  background-color: white;
  width: 45%;
  height: 100vh;
}
.profile {
  width: 25%;
  z-index: 10;
  height: 100vh;
  overflow-y: scroll;
}
