.input {
  padding: 8px;
  padding-left: 34px;
  width: 320px;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.searchBox {
  position: relative;
}
.icons {
  position: absolute;
  left: 8px;
  font-size: 20px;
  margin-top: 6px;
  color: rgb(15, 15, 143);
}
